
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: #efefef;
}

.header {
    display: grid;
    grid-template-columns: 200px 1fr 30%;    
    color: #1e666c;      
    align-items: center;  
    .container-img {
        max-width: 400px;    
        border-radius: 10%;
        overflow: hidden;    
        img {
            width: 100%;        
        }
    }

    h4 {
        width: 100%;        
        font-weight: 400;
        text-align: center;
    }

    ul {
        display: flex;        
        justify-content: end;
        li {
            list-style: none;
            padding: 8px;
        }
    }
}

@media (max-width: 680px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
