@use 'hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    background-color: #efefef;
}

.container {
    max-width: 950px;
    width: 100;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px ) {
        max-width: 90%;
    }
}


